@import "~bulma/sass/utilities/initial-variables"

// Config vars
$blue: #F7FBFD
$black: #1d1d1d
$white: #ffffff
$green: #0C403B

$primary: $blue
$primary-invert: $black

body
  padding: 0;
  margin: 0;

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

@import "~bulma"

header
  width: 100vw
  background: $green
  color: $white
  background-attachment: fixed;
  padding: 0
  margin: 0
  position: relative
  z-index: 0

  

.navbar
  z-index: 100
  position: fixed
  top: 0
  background: transparent
  color: $black

  .logo
    margin-left: 50px
    margin-top: 35px

.bannerTitle
    font-size: 2em 
    color: inherit
    width: 100%
    padding-top: 35vh
    padding-bottom: 35vh
    text-align: center;
    font-weight: 600;

article
  width: 45%
  margin-left: 27.5%
  margin-top: 75px